footer {
    background-color: #2d314d;
    color: white;
    a{
        color: whitesmoke;
    }
    .boxes {
        padding: 4rem;
        text-align: center;
        display: flex;
        justify-content: space-between;

        .socials {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            // padding: 0px 40px 8px;

            .handles {
                padding: 20px;

                a {
                    margin: 10px;
                    font-size: 17px;
                }
            }
        }

        .boxx {
            display: flex;
            flex-direction: column;
            padding: 0px 35px 0 32px;
            justify-content: center;
            gap: 1.2rem;

        }

        .boxs {
            // margin-right: 3rem;
        }

        button {
            margin-bottom: 24px;
        }

        p {
            font-size: 0.8125rem;
            color: #9698a6;
        }

        .gap {
            flex: 1;
        }
    }

    p {
        font-size: 0.875rem;    
        text-align: center;
    }
}